<!doctype html>
<html>

<head>
  <link rel="stylesheet" href="style.css" />
  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.1/angular.min.js"></script>
  <script src="script.js"></script>
  <title>Movie Search | OMDb API</title>
</head>

<body ng-app="OMDbAPISearch">
  <div class="container" ng-controller="searchMovies">

    <h1>Search a Movie Title Below</h1>
    <p>(<a href="http://www.omdbapi.com" target="_blank">http://www.omdbapi.com</a>)</p>
    <form>
      <div class="search">
       <input id="theSearch" ng-model="searchparam" placeholder="movie name" type="text" ngTrim="true" />
       <button ng-click="fetch()">Search</button>
       <div class="clear"></div>
      </div>
    </form>

    <div class="results">

      <div class="result" movie-srch-results ng-repeat="movieResults"></div>

    </div>
    <div class="noResults"></div>

  </div>
</body>

</html>